@use "../base/color";

#add-ons_cart {
  background-color: color.$darkblue;

  p {
    color: color.$white;
  }

  .note {
    margin-top: 0.5rem;
    text-align: left;
  }

  #top-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.7rem;
    background-color: color.$transparentblue;

    p:nth-child(1) {
      text-align: left;
    }
    p:nth-child(2) {
      text-align: center;
    }
    p:nth-child(3) {
      text-align: right;
    }
  }

  button {
    padding: 3px;
    background-color: color.$transparentblue;
    // border: none;
    text-align: center;
    color: color.$white;
    width: 1.5rem;
  }

  .amount {
    margin-inline: 0.5rem;
    color: color.$white;
  }

  .two-person_ui {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
  }

  .tent_ui {
    text-align: center;
  }

  .three-person_ui {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
  }

  .tent_total {
    text-align: right;
    margin-right: 0.7rem;
  }

  .tent_name {
    text-align: left;
    margin-left: 0.7rem;

    p:nth-child(2) {
      margin-top: 0.2rem;
    }
  }

  .green_ui {
    text-align: center;
    margin-right: 0.7rem;
  }

  .green-option_check {
    cursor: pointer;
  }

  .green_camping_ui {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
    margin-left: 0.7rem;

    .green_total {
      text-align: right;
      margin-right: 0.7rem;
    }
  }

  .green_name {
    text-align: left;

    p:nth-child(2) {
      margin-top: 0.2rem;
    }
  }

  .total_bar {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0.7rem;
    background-color: color.$transparentblue;
  }

  .continue_btn {
    display: flex;
    justify-content: right;

    button {
      background-color: color.$orange;
      color: color.$white;
      width: 5.5rem;
      height: 1.875rem;
      border: none;
      margin-top: 1rem;
    }
  }
  .tent_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;

    .tent_ui {
      text-align: center;
    }

    .tent_name {
      margin-left: 1rem;

      p:nth-child(2) {
        // font-size: 0.8rem;
        margin-top: 0.2rem;
      }
    }

    #amount_tent {
      margin-inline: 0.5rem;
      color: color.$white;
    }

    .tent_total {
      text-align: right;
      margin-right: 0.7rem;
    }

    .amount_ticket {
      margin-inline: 0.5rem;
      color: color.$white;
    }

    .green_total {
      grid-column: 3;
      text-align: right;
      margin-right: 0.7rem;
    }

    .green_name {
      margin-left: 1rem;
    }
  }
}
