@use "../base/color";

.progressbar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 3rem;
}
.steps_container {
  list-style-type: none;
  display: flex;
  position: relative;
  z-index: 10;
  min-width: 23rem;
  padding-right: 30px;
}

.step-item {
  padding: 0 15px;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 70px;
  width: 110px;
  position: relative;
}
.step-item + .step-item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 16px;
  background: color.$white;
  width: 100%;
  height: 3px;
  transform: translateX(-50%);
  z-index: -10;
}
.progress-count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  width: 5rem;
  height: 2rem;
  background-color: color.$transparentblue;
  transform: skewX(-15deg);
  color: color.$white;
  background-color: color.$purple;
}

.progress-count:before {
  background-color: color.$transparentblue;
}

.current_item ~ .step-item .progress-count {
  background-color: color.$transparentblue;
}

.current_item .progress-count {
  background-color: color.$orange;
}

@media only screen and (min-width: 850px) {
  .step-item + .step-item:after {
    top: 23px;
  }

  .progress-count {
    width: 6rem;
    height: 3rem;
  }

  .steps_container {
    min-width: 55rem;
  }
}
