@use "../base/color";

.schedule_header {
  h1 {
    text-align: center;
    padding: 20px;
  }

  p {
    text-align: center;
    margin-block-end: 1rem;
  }
}

#schedule_section {
  margin: 0px 20px;

  #schedule_date {
    width: 100%;
    background-color: color.$transparentblue;
    margin: 10px 0px 10px 6px;
    transform: skewX(-10deg);
    border: none;
    color: color.$white;
    text-align: center;
    padding: 20px;
    transition: 1s;
  }
  #schedule_date:hover {
    background-color: color.$orange;
    cursor: pointer;
  }

  #details_section {
    table {
      color: color.$white;
      border-collapse: collapse;
      width: 100%;
      display: block;
      text-align: left;
      position: relative;
      background-color: color.$transparentblue;
      display: flex;

      thead {
        border-right: 5px solid color.$darkblue;

        tr {
          display: flex;
          flex-direction: column;

          tr:nth-child(2) {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
          }

          th {
            // position: sticky;
            // position: -webkit-sticky; // safari
            // top: 0;
            // left: 0;
            background-color: color.$transparentblue;
            padding: 0.5rem;
            border-bottom: 5px solid #202033;
          }

          td {
            border-bottom: 1px solid color.$darkblue;
            width: 100%;
            max-width: 90px;
            min-width: 90px;
          }

          .time_border {
            &:first-child {
              z-index: 3;
            }
          }
        }
      }

      .stage {
        padding-block: 2.5rem;
        border-bottom: 5px solid color.$darkblue;
        text-align: center;
        height: 100%;
      }

      .stage:last-child {
        border-bottom: 0px;
      }
    }
  }

  tbody {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    table-layout: fixed;
    display: flex;

    .artists:nth-child(2n) .artist {
      opacity: 0;
    }

    .artists {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      th {
        display: grid;
        justify-content: center;
        padding: 0.5rem;
      }
      th:first-child {
        border-bottom: 5px solid color.$darkblue;
      }

      .artist:last-child {
        border-bottom: none;
      }

      .artist {
        background-color: color.$purple;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 165px;
        padding: 15px;
        border-bottom: 5px solid color.$transparentblue;

        #text {
          display: block;
        }
        .artist_readmore {
          align-self: flex-end;
          a {
            color: inherit;
            border: none;
            background: none;
            font: inherit;
            font-size: 0.9rem;
            padding: 5px;
            border: 1px solid color.$darkblue;
          }

          a:hover {
            background-color: color.$orange;
            border: 1px solid color.$orange;
          }
        }

        .artist_name {
          font-family: "Unna", serif;
          font-size: 1.2rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .artist_time {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #schedule_section tbody .artists .artist .artist_readmore button {
    float: none;
  }
}

@media screen and (min-width: 800px) {
  #schedule_section tbody .artists .artist {
    width: 235px;
  }
}
