@use "../base/color";
h1 {
  text-align: center;
  padding: 20px;
}

#schedule_section {
  margin: 0px 20px;

  #schedule_date {
    width: 100%;
    background-color: color.$transparentblue;
    margin: 10px 0px 10px 6px;
    transform: skewX(-10deg);
    border: none;
    color: color.$white;
    text-align: center;
    padding: 20px;
    transition: 1s;
  }
  #schedule_date:hover {
    background-color: color.$orange;
    cursor: pointer;
  }

  #details_section {
    table {
      color: color.$white;
      border-collapse: collapse;
      width: 100%;
      display: block;
      text-align: left;
      position: relative;
      background-color: color.$transparentblue;
      display: flex;

      thead {
        tr {
          border-right: 5px solid color.$darkblue;
          display: flex;
          flex-direction: column;
          border-bottom: 5px solid color.$darkblue;

          tr:nth-child(2) {
            border-right: 5px solid color.$darkblue;
            display: flex;
            flex-direction: column;
            /* height: 88%; */
            justify-content: space-around;
          }

          tr:last-child {
            border-bottom: 5px solid #202033;
          }

          th {
            position: sticky;
            position: -webkit-sticky; // safari
            top: 0;
            left: 0;
            background-color: color.$transparentblue;
            padding: 8px;
          }

          td {
            border-bottom: 1px solid color.$darkblue;
            width: 100%;
            max-width: 90px;
            min-width: 90px;
          }

          .time_border {
            &:first-child {
              z-index: 3;
            }
          }
        }
      }

      .stage {
        // padding-block: 4vh;
        padding-block: 36.5px;
        border-bottom: 5px solid color.$darkblue;
        // height: 100px;
        // border-top: 5px solid color.$darkblue;
      }

      .stage:last-child {
        border-bottom: 0px;
      }
    }
  }

  tbody {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    table-layout: fixed;
    display: flex;

    .artists:nth-child(2n) .artist {
      opacity: 0;
    }

    .artists {
      th {
        display: grid;
        justify-content: center;
        padding: 8px;
      }
      th:first-child {
        border-bottom: 5px solid color.$darkblue;
      }

      .artist:last-child {
        border-bottom: none;
      }

      .artist {
        background-color: color.$purple;
        display: flex;
        flex-direction: column;
        // margin: 0px 5px 5px 0px;
        // padding: 10px;
        // padding: 12px;
        padding: 15px;
        // padding: 0.8rem;

        width: 40vh;
        // width: 45vh;

        // height: 29%;
        border-bottom: 5px solid color.$transparentblue;

        #text {
          display: block;
        }
        .artist_readmore {
          button {
            color: inherit;
            border: none;
            background: none;
            font: inherit;
            cursor: pointer;
            float: right;
            font-size: 0.9rem;
            padding: 5px;
          }
          button:hover {
            background-color: color.$orange;
            // color: color.$orange;
            border: 1px solid color.$orange;
          }
        }

        .artist_name {
          font-family: "Unna", serif;
          font-size: 1.2rem;
        }

        .artist_time {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #schedule_section tbody .artists .artist .artist_readmore button {
    float: none;
  }
}
