@use "../base/color";
@use "../base/fonts";

#single_band {
  section {
    margin-block: 0.5rem;
  }

  header {
    margin-block-end: 0.5rem;

    button {
      margin-block-end: 1.5rem;
    }
  }

  h3 {
    margin-block-end: 1rem;
  }

  figcaption {
    margin-block-start: 0.5rem;
    font-style: italic;
  }

  .genre_members {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    margin-bottom: 1rem;

    .members {
      display: flex;
      flex-direction: column;
      margin-block: 2rem;

      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      .member {
        align-items: center;
        background-color: color.$transparentblue;
        color: color.$white;
        display: flex;
        height: 2rem;
        justify-content: center;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-15deg);
        // width: 9rem;
        padding-inline: 1rem;

        p {
          transform: skewX(15deg);
        }
      }
    }
    .genre {
      display: flex;
      flex-direction: column;
      margin-block-start: 2rem;

      span {
        align-items: center;
        background-color: color.$transparentblue;
        color: color.$white;
        display: flex;
        height: 2rem;
        justify-content: center;
        -webkit-transform: skewX(-15deg);
        transform: skewX(-15deg);
        // width: 9rem;
        padding-inline: 3rem;
      }
    }
  }
}

@media screen and (min-width: 375px) {
  #single_band {
    .genre_members {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}

@media screen and (min-width: 565px) {
  #single_band {
    .genre_members {
      flex-direction: row;
    }
  }
  .more_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  #single_band {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    .description {
      grid-column: 1/3;
    }

    .single_band_img {
      grid-column: 1/2;
    }
  }
}
