@use "../base/color";
@use "../base/fonts";

.popup {
  .popup,
  .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 100;
  }

  .overlay {
    background: rgba(35, 36, 50, 0.76);
  }
  .popup_heading {
    color: color.$white;
    text-align: left;
    margin-bottom: 1rem;
  }
}

.popup-content {
  // position: absolute;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #202033;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  z-index: 100;
  border: 4px solid #f39b13;

  .popup_button {
    display: flex;
    justify-content: center;
    margin-block: 2rem;
  }
  .popup_button button:nth-child(1) {
    width: 5.5rem;
    height: 1.875rem;
    background-color: color.$darkblue;
    color: color.$white;
    border: 1px solid color.$orange;
    cursor: pointer;
    margin-right: 1rem;
  }

  .popup_button button:nth-child(2) {
    width: 5.5rem;
    height: 1.875rem;
    background-color: color.$orange;
    color: color.$darkblue;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
  }

  p {
    line-height: 1.4rem;
  }
}
