@use "../base/color";

%body-text-font {
  font-family: "Unna", serif;
  font-weight: 400;
  font-size: calc(1rem + (10 - 2.5) * ((100vw - 300px) / (1600 - 300)));
  // font-size: calc(0.8rem + (10 - 2.5) * ((100vw - 300px) / (1600 - 300)));
  color: color.$white;
}

%table-text-font {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: calc(0.8rem + (10 - 2.5) * ((100vw - 300px) / (1600 - 300)));
  color: color.$white;
}

%headline-font {
  font-family: "Unna", serif;
  font-weight: 500;
  font-size: calc(2rem + (50 - 2.5) * ((100vw - 300px) / (1600 - 300)));
  color: color.$white;
}

%headline2-font {
  font-family: "Unna", serif;
  font-weight: 500;
  font-size: calc(1.8rem + (30 - 2) * ((100vw - 300px) / (1600 - 300)));
  color: color.$white;
}

%headline3-font {
  font-family: "Unna", serif;
  font-size: calc(0.8rem + (18 - 1) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 550;
  color: color.$white;
}

%headline4-font {
  font-family: "Lato", sans-serif;
  font-size: calc(0.7rem + (18 - 0.5) * ((50vw - 250px) / (1600 - 300)));
  font-weight: 500;
  color: color.$white;
}

%headline5-font {
  font-family: "Lato", sans-serif;
  font-size: calc(0.5rem + (10 - 0.8) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 400;
  color: color.$white;
}

.bold {
  font-weight: bold;
}

p,
a,
th,
details {
  @extend %body-text-font;
}

td,
table {
  @extend %table-text-font;
}

h1 {
  @extend %headline-font;
}
#header_section {
  h1 {
    font-size: calc(4rem + 47.5 * (100vw - 300px) / 1300);
  }

  h2 {
    font-size: calc(3.8rem + 28 * (100vw - 300px) / 1300);
  }
}

h2 {
  @extend %headline2-font;
}

h3 {
  @extend %headline3-font;
}

h4 {
  @extend %headline4-font;
}

h5 {
  @extend %headline5-font;
}
