@use "../base/color";

#card_form {
  max-width: 420px;
  background-color: color.$darkblue;
  color: color.$white;

  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  grid-template-areas: "name name" "number number" "expiration security" "button button";
  margin-inline: auto;
}

#card_form input {
  width: 100%;
  padding: 0.5rem;
  background-color: color.$transparentblue;
  border: none;
  color: color.$white;
}

#card_form .field-container:first-of-type {
  grid-area: name;
}

#card_form .field-container:nth-of-type(2) {
  grid-area: number;
}

#card_form .field-container:nth-of-type(3) {
  grid-area: expiration;
}

#card_form .field-container:nth-of-type(4) {
  grid-area: security;
}
#card_form button {
  grid-area: button;
}

.field-container {
  position: relative;
}
