@use "../base/color";

#details_button{
    width: 100%;
    height: 10vh;
    background-color: color.$transparentblue;
    margin: 10px 0px 10px 6px;
    transform: skewX(-10deg);
    border: none;
    color: color.$white;

    summary{
        text-align: center;
        padding: 20px;
        transform: skewX(10deg);
    }
}

