@use "../base/color";

#details_section{

    table {
        color: color.$white;
        border-collapse: collapse;
        width: 100%;
        table-layout:fixed;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        text-align: left;
        position: relative;
        background-color: color.$transparentblue;

        // th, .border {
        //     border: 1px solid color.$white;
        //     background-color: color.$transparentblue;
        //     padding: 8px;

        //     &:first-child {
        //         z-index: 3;                
        //     }

        // }


        thead {
            tr{
                th {
                    position: sticky;
                    position: -webkit-sticky; // safari
                    top: 0; left: 0;   
                    background-color: color.$transparentblue;
                    padding: 8px;

                    .time_border{
                        background-color: color.$darkblue;
                        border: 1px solid color.$darkblue;

                        &:first-child {
                            z-index: 3; 
                            
  
                        }
                    }


                }

                td{
                    border-bottom: 1px solid color.$darkblue;
                    background-color: color.$purple;
                    width: 100%;
                    max-width: 90px;
                    min-width: 90px;

                }

                
            }
            


        }

        .height{
            height: 100px;
        }

    }
}
