@use "../base/color";

#ticket_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.ticket_svg {
  background-image: url(../../assets/svg/ticket.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  width: 20rem;
  height: 9rem;
}

.ticket_content {
  padding: 1rem;
  padding-block: auto;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ticket_svg p {
  max-width: 24ch;
}

.ticket_btn {
  align-self: center;
}

@media screen and (min-width: 750px) {
  #ticket_container {
    flex-direction: row;
    justify-content: center;
  }
}
